<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="BDGanaderiaConnectionString" 
         connectionString="Data Source=ANGELUSTH\SQLEXPRESS;Initial Catalog=proyectoGanaderia;Integrated Security=True;" 
         providerName="System.Data.SqlClient" />
  </connectionStrings>
  
  <system.web>
    <compilation debug="true" strict="false" explicit="true" targetFramework="4.7.2" />
    <httpRuntime targetFramework="4.7.2" />
    <globalization culture="es-ES" uiCulture="es-ES" requestEncoding="utf-8" responseEncoding="utf-8" fileEncoding="utf-8" />
    <pages controlRenderingCompatibilityVersion="4.0" />
  </system.web>
  
  <system.webServer>
    <httpProtocol>
      <customHeaders>
        <add name="Content-Type" value="text/html; charset=utf-8" />
      </customHeaders>
    </httpProtocol>
  </system.webServer>
</configuration>
